/* Estilos para Dropdown */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color:var(--text-color); /* Color de texto */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px; /* Ancho mínimo del dropdown */
  background-color: #fff; /* Fondo del dropdown */
  border-radius: 4px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none; /* Oculto por defecto */  
}

.dropdown.show .dropdown-menu {
  display: block; /* Mostrar dropdown cuando esté activo */
}

.dropdown-item {
  padding: 0.5em;
  color: #333; /* Color de texto de los elementos */
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Fondo al pasar el mouse */
}


.btn {
  display: inline-block; 
  padding: 12px 20px; 
  font-size: 16px; 
  font-weight: bold;
  color: #ffffff; 
  background-color: #4CAF50; 
  border: none; 
  border-radius: 8px;
  text-align: center; 
  text-decoration: none; 
  transition: background-color 0.3s, transform 0.2s; 
  cursor: pointer; 
}

/* Efecto hover */
.btn:hover {
  background-color: #45a049; 
  transform: translateY(-2px); 
}

/* Efecto focus (opcional) */
.btn:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6); 
}

/* Efecto activo (opcional) */
.btn:active {
  transform: translateY(0); 
  box-shadow: none; 
}