/* Estilo para el botón hamburguesa */
.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}

.navbar-toggler-icon::before {
  content: "☰"; /* Icono de hamburguesa */
  font-size: 1.5rem;
}
