.item-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas: imagen y contenido */
  gap: 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px;
}

.detail-img {
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  border-radius: 8px;
  object-fit: cover; 
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  text-align: left; 
}
.detail-title {
  font-size: 3.2em;
  margin-bottom: 10px;
}

.detail-price {
  color: var(--primary-color);
  font-size: 2.5em;
  margin-bottom: 20px;
}

.detail-description {
  grid-column: span 2; /* Ocupa ambas columnas */
  margin-top: 20px;
  font-size: 1.6em;
}

.back-btn {
  padding: 12px 30px; 
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; 
  font-size: 1.4em; 
  width: auto; 
  display: inline-block; 
}

.back-btn:hover {
  background-color: var(--dark-accent-color);
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .item-detail-container {
    grid-template-columns: 1fr; 
  }

  .detail-img {
    width: 100%; 
    max-width: 250px; 
    margin: 0 auto; 
  }

  .detail-description {
    grid-column: span 1; 
  }

  .detail-info {
    text-align: center; 
    align-items: center; 
  }

  .detail-title {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  .detail-price {
    font-size: 1.4em;
    margin-bottom: 20px;
  }

  .back-btn {
    font-size: 1.2em; 
    padding: 10px 20px; 
  }
}
