/* Contenedor principal en grid */
.item-detail {
  display: grid;
  grid-template-columns: 2fr 3fr; /* Imagen a la izquierda, información a la derecha */
  grid-template-rows: auto auto; /* Una fila para la imagen y detalle, y otra para la descripción */
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-style: dotted;
  background-color: var(--background-color);
}

/* Imagen */
.detail-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom:2rem;
}

/* Contenedor de información */
.detail-info {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Título y precio */
.detail-title {
  font-family: var(--font-family-ultra);
  font-size: var(--font-size-xlarge);
  margin-bottom: var(--spacing-sm);
}

.detail-price {
   color: var(--primary-color);
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-sm);
  font-weight: bold;
}

/* Descripción: ahora ocupa ambas columnas */
.detail-description {
  grid-column: 1 / -1; /* Abarca ambas columnas */
  grid-row: 2 / 3; /* Ubicada en la segunda fila */
  margin-top: 20px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
}

/* Botón de volver */
.back-btn,
.button-end-buy,
.btn-continue-shopping {
  padding: var(--spacing-xs) var(--spacing-md);
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--spacing-xs);
  cursor: pointer;
  font-size: var(--font-size-base);
  text-align: center;
}

.back-btn:hover,
.button-end-buy:hover,
.btn-continue-shopping:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
}

.checkout-actions {
  display: flex;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
}
.out-of-stock {
  font-size: var(--font-size-base);
  color: red;
  font-weight: bold;
}
/* Ajustes para pantallas pequeñas uso Flex */
@media (max-width: 768px) {
  
  .item-detail {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm); 
  }

  .detail-img {
    margin: 0 auto;
    border-radius: var(--spacing-xs);
  }

  .detail-info {
    align-items: center;
    text-align: center;
  }

  .detail-title {
    font-size: var(--font-size-large);
  }

  .detail-price {
    font-size: 1.6rem;
    margin-bottom: var(--spacing-xs);
  }

  .back-btn,
  .button-end-buy,
  .btn-continue-shopping {
    width: 100%; 
    margin-top: var(--spacing-sm);
  }

  .checkout-actions {
    flex-direction: column;
    gap: var(--spacing-xs);
  }
}
