.itemlistcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: auto;
  margin-top: 5em;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px var(--box-shadow);
  border-radius: 8px;
}

.greeting-title {
  font-size: var(--font-size-xlarge);
  font-family: var(--font-family-ultra);
  color: var(--primary-color);
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.itemlist {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md); /* Espacio entre productos */
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

/* Tarjeta de producto */
.product-item {
  flex: 1 1 calc(25% - var(--spacing-md)); /* Cada producto ocupa un cuarto del ancho */
  background-color: white;
  border: 1px solid var(--gray-light-color);
  padding: var(--spacing-sm);
  text-align: center;
  border-radius: var(--spacing-xs);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: var(--spacing-xs);
  margin-bottom: var(--spacing-sm);
}

.product-item h3 {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--secondary-text-color);
  margin-bottom: var(--spacing-xs);
}

.product-item p {
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin-bottom: var(--spacing-xs);
}

/* Ajuste para pantallas medianas */
@media (max-width: 768px) {
  .product-item {
    flex: 1 1 calc(50% - var(--spacing-md)); /* Dos productos por fila */
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 576px) {
  .product-item {
    flex: 1 1 calc(100% - var(--spacing-md)); /* Un producto por fila */
  }

  .greeting-title {
    font-size: var(--font-size-large);
  }
}
