.navbar {
  background-color: var(--background-color);  
  width: 100%; 
  min-width: 375px;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar-container {
 display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  min-width: 375px;
  max-width: 1280px; 
  margin: 0 auto; 
}

.logo {
  width: 120px;
  height: auto;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  gap: 1rem;
}

.navbar-collapse.open {
  display: flex; /* Mostrar cuando está abierto en móviles */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-nav li {
  margin: 0 15px;
}

.hamburger-menu {
  display: none; /* Ocultar botón hamburguesa en pantallas grandes */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-container {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  margin: 0 auto; 
  }

  .navbar-collapse {
    display: none; /* Oculto por defecto */
    flex-direction: column; /* Cambiar a columna en móviles */
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    background-color: var(--background-color);    
    z-index: 10;
    padding: 0.2em;
    align-items: center;
  }

  .navbar-collapse.open {
    display: flex; /* Mostrar cuando está abierto */
  }

  .navbar-nav {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
   margin: 0; 
  }

  .navbar-nav li {
    margin: 10px 0;
    
  }

  .logo {
    width: 150px;
  }

  .hamburger-menu {
    display: block; /* Mostrar botón hamburguesa en móviles */
  }
}
