/* Estilo general para navbar */
.container-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-lg);
  box-shadow: 0px 4px 8px var(--box-shadow);
}

.navbar-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  justify-content: space-around;
}

.navbar-brand .logo {
  width: 9em;
  height: auto;
}


/* Carrito en el header */
.cart-widget {
  margin-left: auto;
}

/* Offcanvas Styles */
.offcanvas {
  position: fixed;
  top: 0;
  right: -100%;
  width: 375px;
  height: 100vh;
  background-color: var(--background-color);
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1050;
}

.offcanvas.show {
  right: 0;
}
/* Altura y scroll en pantallas pequeñas */
.offcanvas-body {
  max-height: 80vh; /* Limita la altura para pantallas pequeñas */
   
  padding: var(--spacing-md) 0;
  display: flex;
  flex-direction: column;
  }

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.offcanvas-title {
  font-size: var(--font-size-large);
  color: var(--secondary-text-color);
}

.btn-close {
  background: none;
  border:solid thin blue;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--secondary-text-color);
  margin-right: 1em;
  padding:2px;
}

.offcanvas-body {
  padding: var(--spacing-xs);
  display: flex;
  flex-direction: column;
}
/* Menú horizontal para pantallas grandes */
.navbar-nav-horizontal {
  display: none; /* Oculto por defecto */
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

/* Listado del menú de navegación en el offcanvas */
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap:var(--spacing-xs);
}

.nav-item {
  text-align: left;
}

.nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: var(--font-size-base);
  transition: color 0.3s ease;
  padding:var(--spacing-xs);
}

.nav-link:hover {
  color: var(--primary-color);
}

/* Dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  border:none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: var(--spacing-xs);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: var(--spacing-xs) var(--spacing-sm);
}

.dropdown-item:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
  text-decoration: none;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
.navbar {
    display: flex;    
    align-items: center;
    width: 100%;
  }
  .navbar-toggler {
    display: none;
  }

  .navbar-nav-horizontal  {
    display:flex;
    flex-direction: row;
    gap: var(--spacing-md);
    justify-content: space-around;
    width: 100%;
  }

  .offcanvas {
    display: none;
  }

  /* Carrito alineado en el header en pantallas grandes */
  .cart-widget {
    margin-left: auto;
  }
}
