




.container-app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 375px;
  max-width: 1280px;
  min-height: 100vh;  
  background-color: var(--gray-light-color);
}

header {
  grid-row: 1 / 2;
  height:auto ;
  width: 100%; 
  margin: 0 
}

.container-main {
  grid-row: 2 / 3;
  min-width: 375px;
  max-width: 1280px; 
  height: auto;   
  margin-top: 5em ;  
  position: relative;
}

footer {
  grid-row: 3 / 4;
}
@media (min-width: 768px) {
.container-main {
  margin-top: 8em ;
  }
}

@media (min-width: 1024px) {
.container-main {
  margin-top: 8em; 
  }
}