.container-app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 375px;
  width: 100%;
  min-height: 100vh;  
  background-color: var(--gray-light-color);
}

header {
  grid-row: 1 / 2;
  height:auto ;
  width: 100%; 
  margin: 0 
}

.container-main {
  grid-row: 2 / 3;
  min-width: 375px;
  width: 100%; 
  height: auto;   
  position: relative;
  /* Centrado de elementos dentro de .container-main */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-top:9em; 
  }

footer {
  grid-row: 3 / 4;
}
@media (min-width: 768px) {
.container-main {
  margin-top: 8em ;
  }
}

@media (min-width: 1024px) {
.container-main {
  margin-top: 8em; 
  }
}