/* * Index.css = Estilos globales y de la estructura HTML* */
 /* Estilos globales */

/* Reseteo y Configuración Global */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family-base);
}

/* index.css */

/* Variables globales */
:root {
  /* Colores */
  --primary-color: #007bff;
  --secondary-color: #1AC6D9;
  --accent-color: #77eedf;
  --background-color: #ffffff;
  --dark-background: #03045e;
  --text-color: #37414f;
  --secondary-text-color: #28292b;
  --gray-light-color: #f0f0f0;
  --gray-dark-color: #a0a0a0;

  /* Sombra */
  --box-shadow: rgba(0, 0, 0, 0.5);

  /* Tipografía */
  --font-family-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-spicy-rice: "Spicy Rice", serif;
  --font-family-ultra: "Ultra", serif;

  --font-size-base: 1rem;
  --font-size-large: 1.5em;
  --font-size-xlarge: 2em;
  --line-height-base: 1.5;

  /* Breakpoints */
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;

  /* Espaciado */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem; 
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}

/* Clases tipográficas */
.spicy-rice-regular {
  font-family: var(--font-family-spicy-rice);
  font-weight: 800;
  font-size: var(--font-size-large);
  margin: 0;
}

.ultra-regular {
  font-family: var(--font-family-ultra);
  font-weight: 300;
  font-size: var(--font-size-xlarge);
  color: var(--gray-light-color);
  -webkit-text-stroke: 2px var(--gray-dark-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.3s ease;
  z-index: 3;
}

/* Contenedor principal */
.container-main {
  background-image: url('../src/assets/2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Utilidades para listas */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
